.search-form {
    height: 36px;
    display: flex;
}

.search-form input {
    box-sizing: border-box;
    height: 36px;
    padding: 0px 20px;
    flex: 1;
    background-color: var(--light-gray);
    color: var(--gray);
    border: none;
    transition: all -3s ease-in-out;
    font-size: 22px;
}

.search-form button {
    width: 36px;
    height: 36px;
    background-color: var(--blue);
    border: none;
    color: #fff;
    font-size: 22px;
}